<div class="container">
  <div class="row">
    <div class="col-md-12 text-align:centre;">
      <h1>GITHUB SERACH</h1>
    </div>
  </div>
  <form style="border: 4px solid; padding:30px;" >
    <div class="row">
      <div class="col-md-7">
        <input type="text" name="name" class="form-control" [(ngModel)]="name" placeholder="USERNAME">
      </div>
      <div class="col-md-5">
        <button (click)="searchGithub()" class="btn btn-primary" style="width:100%;">SEARCH</button>
      </div>
    </div>
  </form>
  <div class="row" *ngIf="userData">
    <div class="col-md-6">
      <img src="{{userData.avatar_url}}" alt="NO AVATAR" style="width:100%;" class="responsive">
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5">
          <h5>USERNAME:</h5>
        </div>
        <div class="col-md-7">
          {{userData.login}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h5>REPOSITORIES:</h5>
        </div>
        <div class="col-md-7">
          {{userData.public_repo}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>FOLLOWING:</h5>
        </div>
        <div class="col-md-6">
          {{userData.following}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h5>FOLLOWERS:</h5>
        </div>
        <div class="col-md-6">
          {{userData.followers}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <h5>CREATED ON:</h5>
        </div>
        <div class="col-md-7">
          {{userData.created_at}}
        </div>
      </div>
    </div>
    <div class="repo">
      <h3>PUBLIC REPOSITORIES</h3>
      <div class="row">
        <div *ngFor="let repo of repos" class="col-md-5 text-center">
          <a [routerLink]="['repos/',repo.full_name]"></a>
          <div class="card">
            {{repo.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>